article a {
    text-decoration: none !important;
    color: #007bff !important;
}

article a:link {
    text-decoration: none !important;
    color: #007bff !important;
}

article a:visited {
    text-decoration: none !important;
    color: #007bff !important;
}

article a:focus {
    text-decoration: none !important;
    color: #007bff !important;
}

article a:hover {
    text-decoration: underline !important;
    color: #007bff !important;
}

article a:active {
    text-decoration: none !important;
    color: #007bff !important;
}

.lettera {
    font-size: 20px;
    color: #3b3b3b;
    font-family: 'News Cycle', sans-serif;
}

ul.share-buttons{
    list-style: none;
    padding: 0;
  }
  
  ul.share-buttons li{
    display: inline;
  }
  
  ul.share-buttons .sr-only{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  ul.share-buttons img{
    width: 32px;
  }